@font-face {
    font-family: "Noto Sans Mono";
    src: url('fonts/Noto_Sans_Mono/static/NotoSansMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url('fonts/Open_Sans/static/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url('fonts/Open_Sans/static/OpenSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url('fonts/Open_Sans/static/OpenSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url('fonts/Open_Sans/static/OpenSans-Bold.ttf');
    font-weight: bold;
    font-style: italic;
}

body {
    margin: 0;
    background-color: #F2F2F2;
    font-family: "Open Sans", Calibri, sans-seif;
}

.button-styling {
    background-color: rgba(31,69,135,1);
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 30%);
    transition: 0.2s;
}

.button-styling:hover {
    box-shadow: none;
    opacity: 0.9;
}

@media (max-width: 700px) {
    .sidebar-div {
        display: none;
    }
    .mobile-nav-div {
        display: block !important;
    }
    .navbar-div {
        display: none;
    }
    .main-content-div {
        width: 100% !important;
        margin: 0% !important;
        left: 0 !important;
        top: 5vh !important;
        padding-bottom: 12vh !important;
    }
    .database-main-content-div {
        margin-bottom: 15px !important;
        width: calc(100% - 40px) !important;
        padding: 20px !important;
    }

    .dashboard-tile-parent {
        grid-gap: 15px !important;
        padding-bottom: 15px !important;
    }
    #overlay-content {
        padding: 40px 20px !important;
    }
    #overlay-div {
        width: 100% !important;
    }
}

.navbar-div {
    height: 80px;
    width: 100%;
    background: linear-gradient(108deg, rgba(31,69,135,1) 0%, rgba(39,70,125,1) 100%);
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    box-shadow: 0px -20px 20px 20px rgba(0, 0, 0, 0.5);
}

.profile-pic {
    height: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: 0.3s;
}

.profile-link:hover {
    transition: 0.3s;
    opacity: 0.8;
}

.profile-name {
    margin: 0;
    position: absolute;
    text-align: right;
    color: white;
    right: 80px;
    top: 40px;
    transform: translateY(-50%);
}

.sidebar-div {
    width: 60px;
    height: calc(100% - 80px);
    background-color: white;
    position: fixed;
    top: 80px;
    left: 0;
    box-shadow: -19px 1px 20px 2px rgb(0 0 0 / 75%);
}

.sidebar-icon-div {
    height: 60px;
    width: 100%;
    transition: 0.2s;
    margin-top: 10px;
}

.sidebar-icon-div:hover:not(.sidebar-icon-active) {
    background-color: #F2F2F2;
}

.sidebar-icon-active{
    background-color: #F2F2F2;
}

.sidebar-icon-span {
    position: absolute;
    height: 60px;
    width: 100%;
}

.sidebar-icon-img {
    width: 40%;
    margin: 30%;
    transition: 0.3s;
}

.sidebar-icon-div:hover .sidebar-icon-img {
    opacity: 0.5;
}

.main-content-div {
    width: calc(100% - 180px);
    top: 80px;
    left: 60px;
    position: absolute;
    margin: 60px;
}

.dashboard-tile-parent {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding-bottom: 60px;
}

.dashboard-tile-div {
    background-color: white;
    height: 300px;
    padding: 40px;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 10%);
    transition: 0.3s;
    overflow: scroll;
    place-items: center;
}

.dashboard-title {
    text-align: center;
    margin: 0 0 20px;
    font-size: 1em;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

a .dashboard-title:hover {
    opacity: 0.5;
}

.weatherwidget-io {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#weatherWidget {
    font-family: "Open Sans", Calibri, sans-seif;
    font-size: 1rem;
}
#tile1 {
    height: auto;
}
#tile3 {
    height: 220px;
}
#tile4 {
    height: auto;
}

.anomaly-table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    height: calc(100% - 45px);
}

.anomaly-table-row {
    border-spacing: 0;
    width: 100%;
}

.anomaly-table-element {
    text-align: center;
    border: solid 1px #ebebeb;
    padding: 4px;
    transition: 0.2s;
}

*:is(.anomaly-table-row .confidence-red:hover, .database-table-row.confidence-red:hover) {
    background: linear-gradient(270deg, rgba(255,0,0,0.2) 0%, rgba(255,0,0,0.1) 100%);
}

.confidence-red:not(.database-table-row) a {
    color: red;
    text-decoration: none;
}

*:is(.anomaly-table-row .confidence-orange:hover, .database-table-row.confidence-orange:hover) {
    background: linear-gradient(270deg, rgba(255, 165, 0, 0.2) 0%, rgba(255, 165, 0, 0.1) 100%);
}

.confidence-orange:not(.database-table-row) a {
    color: orange;
    text-decoration: none;
}

*:is(.anomaly-table-row .confidence-green:hover, .database-table-row.confidence-green:hover) {
    background: linear-gradient(270deg, rgba(0, 128, 0, 0.2) 0%, rgba(0, 128, 0, 0.1) 100%);
}

.confidence-green:not(.database-table-row) a {
    color: green;
    text-decoration: none;
}

.sensor-title {
    text-align: center;
    font-size: 1.5em;
    margin: 0 0 30px;
}

.database-main-content-div {
    width: calc(100% - 80px);
    padding: 40px;
    background-color: white;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 10%);
    margin-bottom: 40px;
}

.database-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
}

.database-table-row {
    border: solid 1px #bdbdbd;
    transition: 0.2s;
}

.database-table-row:not(th) {
    font-family: 'Noto Sans Mono';
}

.database-table-row:not(*:is(.confidence-red, .confidence-orange, .confidence-green)):hover {
    background-color: #F2F2F2;
}

.database-table-row th{
    background-color: #1f4587;
    color: white;
    font-weight: normal;
    padding: 5px 0;
    text-align: center;
}

.database-table-row td {
    padding: 5px 0;
    text-align: center;
    color: #7e7e7e;
}

.database-table-row td a {
    color: #7e7e7e;
}

.database-table-row td a:hover {
    opacity: 0s;
}

.database-table-row td a:visited {
    color: #7e7e7e;
}

#database-search-form {
    text-align: center;
    text-align: center;
    line-height: 3em;
}

.search-icon {
    height: 16px;
    transform: translate(-23px, 7px);
    position: absolute;
}

#no-unread {
    text-align: center;
    color: #7e7e7e;
}

#anomaly-info-div {
    display: none;
}

.anomalous-value {
    background-color: rgba(255, 0, 0, 0.2);
    color: rgb(255, 0, 0);
}

#humber-diagram {
    width: 100%;
}

#sensor-location {
    height: auto;
}

#sensor-info {
    height: auto;
}

#overlay-shadow {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}

@keyframes slideIn {
    0% {top: 100%; transform: translate(-50%, 0);}
    100% {top: 50%; transform: translate(-50%, -50%);}
}

@keyframes fadeIn {
    0% {background-color: rgba(0, 0, 0, 0)}
    100% {background-color: rgba(0, 0, 0, 0.4)}
}

@keyframes slideOut {
    0% {top: 50%; transform: translate(-50%, -50%);}
    100% {top: 100%; transform: translate(-50%, 0);}
}

@keyframes fadeOut {
    0% {background-color: rgba(0, 0, 0, 0.4)}
    100% {background-color: rgba(0, 0, 0, 0)}
}

#overlay-div {
    width: 400px;
    height: 75%;
    background-color: white;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 10%);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.overlay-slideIn {
    animation: slideIn 0.4s ease-out forwards;
    animation-delay: 0.35s;
}

.overlay-slideOut {
    animation: slideOut 0.4s ease-in forwards;
    animation-delay: 0.35;
}

.overlay-fadeIn {
    animation: fadeIn 0.75s linear;
}

.overlay-fadeOut {
    animation: fadeOut 0.75s linear;
}

#overlay-content {
    padding: 60px;
}

#overlay-close {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 20px;
    opacity: 0.5;
    transition: 0.2s;
}

#overlay-close:hover {
    opacity: 0.25;
}

#overlay-span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}

#profile-pic-large {
    width: 40%;
    margin: 0 30% 30px;
}

.user-info-text {
    text-align: center;
    margin: 0 10%;
}

.overlay-select {
    font-family: 'Open Sans';
    margin: 10px auto;
    text-align: center;
}

.overlay-textarea {
    width: 100%;
    font-family: 'Open Sans';
    height: 100px;
    margin: 10 0 20px;
    padding: 5px;
}

.comment-table-time {
    width: 20%;
    text-align: center;
}

.comment-author {
    font-weight: bold;
}

.comment-table-row {
    color: #7e7e7e;
}

.comment-table-body {
    padding-bottom: 20px;
    font-size: 0.9em;
}

.comment-table-div {
    border-top: solid 1px #7e7e7e;
    border-bottom: solid 1px #7e7e7e;
    max-height: 200px;
    overflow: scroll;
    padding: 15px 30px 15px 15px;
    box-shadow: inset 6px 0 9px -7px rgb(0 0 0 / 10%), inset -6px 0 9px -7px rgb(0 0 0 / 10%);
    background-color: #fdfdfd;
}

.add-note-icon {
    height: 1em;
    margin-left: 0.5em;
    transition: 0.2s;
}

.add-note-icon:hover {
    opacity: 0.8;
}

#anomaly-comments-title {
    padding-top: 20px;
}
#anomaly-comments-div {
    display: none;
}

#location-graph {
    /*background-image: url('../images/humber_diagram.png');*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 200px;
    cursor: pointer;
}

.mobile-nav-div {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 12vh;
    bottom: 0;
    background: linear-gradient(108deg, rgba(31,69,135,1) 0%, rgba(39,70,125,1) 100%);
    box-shadow: 0px -2px 6px rgb(0 0 0 / 10%);
    display: none;
}

.mobile-nav-table {
    width: 100%;
}
.mobile-nav-table-row {
    width: 100%;
    height: 100%;
}
.mobile-nav-table-td {
    width: calc(100% / 7);
    position: relative;
    
}
.mobile-nav-icon-img {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: 0.2s;
}
.mobile-nav-icon-img:hover {
    opacity: 0.8;
}