<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SHM Monitoring Dashboard</title>
        <link href="css/stylesheet.css" rel='stylesheet' type='text/css'/>
        <script src="js/js.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div class="navbar-div">
            <a href="javascript:toggleOverlay('user-info')" class="profile-link"><p class="profile-name" id="profile-name"></p><img src="images/user_pic.png" class="profile-pic"></a>
        </div>
        <div class="sidebar-div">
            <div class="sidebar-icon-div">
                <a href="/dash"><span class="sidebar-icon-span">
                    <img src="images/dashboard_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
            <div class="sidebar-icon-div">
                <a href="/notifications"><span class="sidebar-icon-span">
                    <img src="images/notifications_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
            <div class="sidebar-icon-div">
                <a href="/images"><span class="sidebar-icon-span">
                    <img src="images/images_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
            <div class="sidebar-icon-div">
                <a href="/visualisations"><span class="sidebar-icon-span">
                    <img src="images/visualisations_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
            <div class="sidebar-icon-div sidebar-icon-active">
                <a href="/database"><span class="sidebar-icon-span">
                    <img src="images/database_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
            <div class="sidebar-icon-div">
                <a href="/code"><span class="sidebar-icon-span">
                    <img src="images/code_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
        </div>
        <div class="main-content-div">
            <div class="database-main-content-div">
                <h1 class="dashboard-title">Sensor Database</h1>
                <form id="database-search-form">
                    <input id="sensorID" name="sensorID" type="text" placeholder="Search Sensors"><img class="search-icon" src="images/search.png"></td>
                    Sort By: <select>
                            <option value="updated-newest">Updated Last</option>
                            <option value="updated-oldest">Updated Earliest</option>
                            <option value="sensor-type">Sensor Type</option>
                            <option value="sensor-location">Sensor Location</option>
                    </select>
                    <input class="button-styling" type="submit" value="Search">
                </form>
                <table class="database-table">
                    <tbody id="sensor-database">
                        <tr><td>Loading...</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mobile-nav-div">
            <table class="mobile-nav-table">
                <tbody>
                    <tr class="mobile-nav-table-row">
                        <td class="mobile-nav-table-td"><a href="/dash"><img src="images/dashboard_icon_white.png" class="mobile-nav-icon-img"></a></td>
                        <td class="mobile-nav-table-td"><a href="/notifications"><img src="images/notifications_icon_white.png" class="mobile-nav-icon-img"></a></td>
                        <td class="mobile-nav-table-td"><a href="/images"><img src="images/images_icon_white.png" class="mobile-nav-icon-img"></a></td>
                        <td class="mobile-nav-table-td"><a href="/visualisations"><img src="images/visualisations_icon_white.png" class="mobile-nav-icon-img"></a></td>
                        <td class="mobile-nav-table-td"><a href="/database"><img src="images/database_icon_white.png" class="mobile-nav-icon-img"></a></td>
                        <td class="mobile-nav-table-td"><a href="/code"><img src="images/code_icon_white.png" class="mobile-nav-icon-img"></a></td>
                        <td class="mobile-nav-table-td"><a href="javascript:toggleOverlay('user-info')"><img src="images/user_pic_white.png" class="mobile-nav-icon-img"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="overlay-shadow">
            <a href="javascript:toggleOverlay()"><span id="overlay-span"></span></a>
            <div id="overlay-div">
                <a href="javascript:toggleOverlay()"><img id="overlay-close" src="images/close.png"></a>
                <div id="overlay-content"></div>
                <div style="text-align: center;">
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    axios.get('/api/sensors')
            .then(function (response) {
                // handle success
                document.getElementById("sensor-database").innerHTML = `<tr class="database-table-row"><th>Sensor ID</th><th>Sensor Type</th><th>Sensor Subtype</th><th>Location</th><th>Unit</th><th>Last Updated</th></tr>`
                console.log(response.data)
                response.data.forEach(item => {
                    document.getElementById("sensor-database").innerHTML += `
                    <tr class="database-table-row">
                    <td><a href="/sensor?sensorID=${item.id}">#${item.id}</</td>
                    <td>${item.type}</td>
                    <td>${item.subtype}</td>
                    <td>${item.location}</td>
                    <td>${item.unit}</td>
                    <td>${new Date().toLocaleString()}</td>
                    </tr>
                    `;
                });
            })
</script>