<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SH Monitoring System | Sensor Database</title>
        <link href="css/stylesheet.css" rel='stylesheet' type='text/css'/>
        <script src="js/js.js"></script>
        <link rel="icon" type="image" href="/images/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div class="navbar-div">
            <img src="images/uoe.png" class="exeter-logo">
            <a href="/settings" class="profile-link"><p class="profile-name" id="profile-name"><%= user.name %></p><img src=<%= user.picture %> class="profile-pic"></a>
        </div>
        <div class="sidebar-div">
            <div class="sidebar-icon-div">
                <a href="/dash"><span class="sidebar-icon-span">
                    <img src="images/dashboard_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
            <div class="sidebar-icon-div">
                <a href="/anomalies"><span class="sidebar-icon-span">
                    <img src="images/anomalies_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
            <div class="sidebar-icon-div">
                <a href="/reports"><span class="sidebar-icon-span">
                    <img src="images/reports_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
            <div class="sidebar-icon-div sidebar-icon-active">
                <a href="/database"><span class="sidebar-icon-span">
                    <img src="images/database_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
            <div class="sidebar-icon-div">
                <a href="/code"><span class="sidebar-icon-span">
                    <img src="images/code_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
            <div class="sidebar-icon-div sidebar-icon-active" id="logout-div">
                <a href="/logout"><span class="sidebar-icon-span">
                    <img src="images/log_out.png" class="sidebar-icon-img">
                </span></a>
            </div>
        </div>
        <div class="main-content-div">
            <div class="database-main-content-div">
                <h1 class="dashboard-title">Sensor Database</h1>
                <!--<form id="database-search-form">
                    <input id="sensorID" name="sensorID" type="text" placeholder="Search Sensors"><img class="search-icon" src="images/search.png"></td>
                    Sort By: <select>
                            <option value="updated-newest">Updated Last</option>
                            <option value="updated-oldest">Updated Earliest</option>
                            <option value="sensor-type">Sensor Type</option>
                            <option value="sensor-location">Sensor Location</option>
                    </select>
                    <input class="button-styling" type="submit" value="Search">
                </form>-->
                <table class="database-table">
                    <tbody id="sensor-database">
                        <tr><td>Loading...</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="overlay-shadow">
            <a href="javascript:toggleOverlay()"><span id="overlay-span"></span></a>
            <div id="overlay-div">
                <a href="javascript:toggleOverlay()"><img id="overlay-close" src="images/close.png"></a>
                <div id="overlay-content"></div>
                <div style="text-align: center;">
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    axios.get('/api/sensors')
            .then(function (response) {
                // handle success
                document.getElementById("sensor-database").innerHTML = `<tr class="database-table-row"><th>Sensor ID</th><th>Sensor Type</th><th>Sensor Subtype</th><th>Location</th><th>Unit</th><th>Last Updated</th></tr>`
                console.log(response.data)
                response.data.forEach(item => {
                    document.getElementById("sensor-database").innerHTML += `
                    <tr class="database-table-row" onclick="window.location='/sensor?sensorID=${item.id}';" style="cursor:pointer;">
                    <td>#${item.id}</td>
                    <td>${item.type}</td>
                    <td>${item.subtype}</td>
                    <td>${item.location}</td>
                    <td>${item.unit}</td>
                    <td>${new Date().toLocaleString()}</td>
                    </tr>
                    `;
                });
            })
</script>