<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/index.css" rel='stylesheet' type='text/css'/>
  <style>
    .hidden {
      display: none;
    }
  </style>
  <title>SH Monitoring System</title>
</head>
<body>
  <div style="border-right: solid;"><h1>University of Exeter's <br> Structural Health Monitoring System</h1></div>
  <div class="container">

    <% if (authenticated) { %>
      <a href="/logout">Logout</a>
    <% } else{ %> 
      <a href="/login">Login</a>
    <% } %>

    <% if (authenticated) { %>
    <p><a href="/dash">Proceed To Application</a></p>
    <% } %>
    
    <% if (authenticated) { %>
      <div class="hidden" id="gated-content">
        <p>
          You're seeing this content because you're currently
          <strong>logged in</strong>.
        </p>
        <label>
          User profile:
          <pre id="ipt-user-profile"><%= user %></pre>
        </label>
      </div>
    <% } %>

  </div>
</body>
</html>
      