<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SH Monitoring System | Reports</title>
        <link href="css/stylesheet.css" rel='stylesheet' type='text/css'/>
        <script src="js/js.js"></script>
        <link rel="icon" type="image" href="/images/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div class="navbar-div">
            <img src="images/uoe.png" class="exeter-logo">
            <a href="/settings" class="profile-link"><p class="profile-name" id="profile-name"><%= user.name %></p><img src=<%= user.picture %> class="profile-pic"></a>
        </div>
        <div class="sidebar-div">
            <div class="sidebar-icon-div">
                <a href="/dash"><span class="sidebar-icon-span">
                    <img src="images/dashboard_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
            <div class="sidebar-icon-div">
                <a href="/anomalies"><span class="sidebar-icon-span">
                    <img src="images/anomalies_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
            <div class="sidebar-icon-div sidebar-icon-active">
                <a href="/reports"><span class="sidebar-icon-span">
                    <img src="images/reports_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
            <div class="sidebar-icon-div">
                <a href="/database"><span class="sidebar-icon-span">
                    <img src="images/database_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
            <div class="sidebar-icon-div">
                <a href="https://git.exeter.ac.uk/ab1185/2021-ecmm427-project-04/-/tree/master/machine-learning"><span class="sidebar-icon-span">
                    <img src="images/code_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
            <div class="sidebar-icon-div sidebar-icon-active" id="logout-div">
                <a href="/logout"><span class="sidebar-icon-span">
                    <img src="images/log_out.png" class="sidebar-icon-img">
                </span></a>
            </div>
        </div>
        <div class="main-content-div">
            <div class="database-main-content-div" style="text-align:center;">
                <h1 class="dashboard-title">Data Reports <a href="javascript:toggleOverlay('reports-creation')"><img class="add-note-icon" src="images/plus.png"></a></h1>
                <table class="database-table">
                    <tbody id="reports-database">
                        <tr><td>No Reports Have Been Generated.</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="overlay-shadow">
            <a href="javascript:toggleOverlay()"><span id="overlay-span"></span></a>
            <div id="overlay-div">
                <a href="javascript:toggleOverlay()"><img id="overlay-close" src="images/close.png"></a>
                <div id="overlay-content"></div>
                    <h1 class="dashboard-title">Generate a New Report</h1>
                    <div>
                        <table style="width:100%; text-align: center;"><tbody><form id="report-creation-form">
                            <input type="hidden" id="user-id" name="user-id" value="<%= user.sub %>">
                            <input type="hidden" id="report-sensors" name="report-sensor" value="[]">
                            <tr><td>Report Name:</td><td><input id="report-name" name="report-name" type="text" placeholder="New Report"></td></tr>
                            <tr><td>Start Date:</td><td><input type="date" id="start-date" name="start-date"></td></tr>
                            <tr><td>End Date:</td><td><input type="date" id="end-date" name="end-date"></td></tr>
                            <tr><td>Model Sensitivities:</td><td><select id="report-form-sensitivity-ddl" name="sensor-ddl"></select></td></tr>
                            <tr>
                                <td>Add Sensors:</td><td>
                                    <select id="report-form-sensor-ddl" name="sensor-ddl" onmousedown="this.value='';" onchange="addSensorToList(this.value);">
                                        <option value="default" disabled selected hidden>Sensor ID</option>
                                    </select>
                                    
                                </td>
                            </tr>
                        </tbody></table>
                        <table style="width:100%;"><tbody>
                            <tr><td><div class="report-form-sensor-list" id="report-form-sensor-list"></div></td></tr>
                            <tr><td style="text-align: center;">
                                <input class="button-styling" type="button" value="Add All Sensors" onclick="addSensorToList('all')">
                                <input class="button-styling" type="button" value="Remove All Sensors" onclick="removeSensorFromList('all')">
                            </td><tr><td style="text-align: center;">
                                <input class="button-styling" type="button" value="Create Report" onclick="submitReportForm()">
                            </td></tr>
                            
                        </tbody></table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<script>

    axios.get('api/reports')
    .then(function (response) {
        reportsData = response.data
        document.getElementById("reports-database").innerHTML = `<tr class="database-table-row"><th>Title</th><th>Start Date</th><th>End Date</th><th>Date Created</th><th>Sensitivity</th></tr>`
    
        for (let i = 0; i < reportsData.length; i++) {
            console.log(reportsData[i])
            startDate = new Date(reportsData[i].start_date)
            endDate = new Date(reportsData[i].end_date)
            createdAt = new Date(reportsData[i].created_at)

            document.getElementById("reports-database").innerHTML += `<tr class="database-table-row" onclick="window.location='/report?reportID=${reportsData[i].id}';" style="cursor:pointer;">
                        <td>${reportsData[i].title}</td>
                        <td>${formatDateObject(startDate, false)}</td>
                        <td>${formatDateObject(endDate, false)}</td>
                        <td>${formatDateObject(createdAt, true)}</td>
                        <td>${getSensitivityString(reportsData[i].sensitivity)}</td>
                        </tr>`
            
        }
    }).catch((err)=>{
        console.log("No reports found.")
        document.getElementById("reports-database").innerHTML = `No reports have been generated.`
    
    })

    axios.get(`api/sensors`)
    .then(function (response) {
        sensorDetails = response.data
        sensorLocations = []
        sensorIDs = []
        sensorLabels = []

        for (let i = 0; i < sensorDetails.length; i++) {
            sensorID = sensorDetails[i].id
            sensorLocation = sensorDetails[i].location
            type = sensorDetails[i].subtype

            if (sensorLocations.indexOf(sensorLocation) < 0) {
                sensorLocations.push(sensorLocation)
                sensorIDs.push([sensorID])
                sensorLabels.push([`#${sensorID} - ${type}`])
            } else {
                index = sensorLocations.indexOf(sensorLocation)
                sensorIDs[index].push(sensorID)
                sensorLabels.push(`#${sensorID} - ${type}`)
            }
        }

        ddlOptions = ""
        for (let i = 0; i < sensorLocations.length; i++) {
            ddlOptions += `<optgroup label="${sensorLocations[i]}">`
            for (let j = 0; j < sensorIDs[i].length; j++) {
                ddlOptions += `<option value='${sensorIDs[i][j]}'>#${sensorIDs[i][j]}</option>`
            }
            ddlOptions += `</optgroup>`
        }
        document.getElementById('report-form-sensor-ddl').innerHTML += ddlOptions

        sensivityOptions = ``
        for (let j = 0; j < sensitivities.length; j++) {
            if (j == 2) {
                selected = ' selected'
            } else { selected = "" }
            sensivityOptions += `<option value="${j+1}"${selected}>${sensitivities[j]}</option>`
        }

        document.getElementById('report-form-sensitivity-ddl').innerHTML += sensivityOptions

    })

    reportSensorList = []
    
    function addSensorToList(newSensorID) {
        if (newSensorID == 'all') {
            axios.get(`api/sensors?enumerate=id`)
            .then(function (response) {
                allSensors = response.data
                for (let i = 0; i < allSensors.length; i++) {
                    addSensorToList(allSensors[i])
                }
            })
        } else {
            if (reportSensorList.indexOf(newSensorID) < 0) {
                reportSensorList.push(newSensorID)

                itemDiv = document.createElement("div")
                itemDiv.id = `${newSensorID}-list-item`
                itemDiv.classList.add('report-form-sensor-list-item')
                newContent = document.createTextNode(`#${newSensorID}`)
                itemDiv.appendChild(newContent)

                itemDiv.onclick = function() { removeSensorFromList(newSensorID)}

                listDiv = document.getElementById("report-form-sensor-list").appendChild(itemDiv)
                console.log(`Added #${newSensorID}!`)
            } else {
                console.log(`#${newSensorID} already added!`)
            }
        }
        document.getElementById('report-sensors').value = JSON.stringify(reportSensorList)
    }

    function removeSensorFromList(sensorID) {
        if (sensorID == 'all') {
            axios.get(`api/sensors?enumerate=id`)
            .then(function (response) {
                allSensors = response.data
                for (let i = 0; i < allSensors.length; i++) {
                    removeSensorFromList(allSensors[i])
                }
            })
        } else {
            newSensorList = []
            for (let i = 0; i < reportSensorList.length; i++){
                if (reportSensorList[i] != sensorID) {
                    newSensorList.push(reportSensorList[i])
                } else {
                    itemDiv = document.getElementById(`${sensorID}-list-item`)
                    itemDiv.remove()
                    console.log(`Removed #${sensorID}!`)
                }
            }
            reportSensorList = newSensorList
        }
        document.getElementById('report-sensors').value = JSON.stringify(reportSensorList)
    }

    //document.getElementById('report-creation-form').onsubmit = function() {submitReportForm()}
    
    function submitReportForm() {
        reportTitle = document.getElementById('report-name').value
        startDate = document.getElementById('start-date').value
        endDate = document.getElementById('end-date').value
        userID = document.getElementById('user-id').value
        sensorList = document.getElementById('report-sensors').value
        sensitivity = document.getElementById('report-form-sensitivity-ddl').value

        if (reportTitle == "") { reportTitle = "New Report" }
        if (sensorList == "[]") {
            alert('Add sensors to the report using the drop down list below.')
            return
        }
        if (startDate == "" || endDate == "") {
            alert('Please enter a valid start and end date.')
            return
        }
        else {
            startDate = new Date(startDate)
            endDate = new Date(endDate)
            if (startDate > endDate) {
                alert('The start date must be before the end date')
                return
            }
            endDate = new Date((endDate.setDate(endDate.getDate() + 1)) - 1);
            startDate = startDate.toISOString()
            endDate = endDate.toISOString()
        }
        reportInfo = {title: reportTitle,
                      start_date: startDate,
                      end_date: endDate,
                      sensitivity: sensitivity,
                      user_id: userID,
                      sensors: sensorList
                    }

        axios.post('/api/reports', reportInfo).then(function (response) {
            location.reload()
        })
        .catch(function (error) {
            alert('Report could not be created.')
            console.log(error);
        });

    }

</script>