<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SH Monitoring System | Sensor not found</title>
        <link href="css/stylesheet.css" rel='stylesheet' type='text/css'/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/js.js" charset="UTF-8"></script>
        <link rel="icon" type="image" href="/images/favicon.png">
        <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    </head>
    <body>
        <div class="navbar-div">
            <img src="images/uoe.png" class="exeter-logo">
            <a href="/settings" class="profile-link"><p class="profile-name" id="profile-name"><%= user.name %></p><img src=<%= user.picture %> class="profile-pic"></a>
        </div>
        <div class="sidebar-div">
            <div class="sidebar-icon-div">
                <a href="/dash"><span class="sidebar-icon-span">
                    <img src="images/dashboard_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
            <div class="sidebar-icon-div">
                <a href="/anomalies"><span class="sidebar-icon-span">
                    <img src="images/anomalies_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
            <div class="sidebar-icon-div">
                <a href="/reports"><span class="sidebar-icon-span">
                    <img src="images/reports_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
            <div class="sidebar-icon-div sidebar-icon-active">
                <a href="/database"><span class="sidebar-icon-span">
                    <img src="images/database_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
            <div class="sidebar-icon-div">
                <a href="/code"><span class="sidebar-icon-span">
                    <img src="images/code_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
            <div class="sidebar-icon-div sidebar-icon-active" id="logout-div">
                <a href="/logout"><span class="sidebar-icon-span">
                    <img src="images/log_out.png" class="sidebar-icon-img">
                </span></a>
            </div>
        </div>
        <div class="main-content-div">
            <h1 class="sensor-title" id="sensor-title"></h1>
            <div class="dashboard-tile-parent" id="infos">
                <div class="dashboard-tile-div" id="sensor-info-div">
                    <h1 class="dashboard-title">Sensor Details</h1>
                    <p id="sensor-info"></p>
                </div>
                <div class="dashboard-tile-div" id="sensor-location">
                    <h1 class="dashboard-title" id="location-graph-title">Related Sensors</h1>
                    <div id="connected-graph"></div>
                </div>
            </div>
            <div class="database-main-content-div" id="anomaly-info-div">
                <h1 class="dashboard-title" id="anomaly-title">Anomaly</h1>
                <p id="anomaly-info-text"></p>
                <div class="comment-table-div">
                    <table>
                        <tbody id="anomaly-comment-table">
                        </tbody>
                    </table>
                </div>
                <h1 class="dashboard-title" id="timeline-title">Anomaly Timeline</h1>
                <div id="anomaly-timeline-div-small"></div>
            </div>
            <div class="dashboard-tile-parent" id="charts-parent-div">
                <div class="dashboard-tile-div" id="week-chart-div">
                    <div height="100%"><canvas id="week-chart"></canvas></div>
                </div>
                <div class="dashboard-tile-div" id="day-chart-div">
                    <div height="100%"><canvas id="day-chart"></canvas></div>
                </div>
            </div>
            <div class="dashboard-tile-parent" id="anomaly-timeline-parent">
                <div class="dashboard-tile-div" style="height: auto;">
                    <h1 class="dashboard-title">Detected Anomalies - Previous Week</h1>
                    <div id="anomaly-timeline-div-main"></div>
                </div>
            </div>
            <div class="database-main-content-div" id="sensor-comments-div">
                <h1 class="dashboard-title" id="comment-title">Notes</h1>
                <div class="comment-table-div">
                    <table>
                        <tbody id="comment-table">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="database-main-content-div" id="sensor-database-div">
                <h1 class="dashboard-title">Sensor Values</h1>
                <form action="/sensor" method="GET" id="database-search-form">
                    From <input type="date" id="date-from" name="from">
                    to <input type="date" id="date-until" name="until">
                    <!--<select name="ordering"><option value="newest">Newest First</option><option value="oldest">Oldest First</option></select>--><br>
                    <button class="button-styling" id="previous-data-btn" onclick="decrementData()" disabled="disabled"><</button>
                    <input class="button-styling" type="reset">
                    <input class="button-styling" type="submit" value="Search" onsubmit="reloadData()">
                    <button class="button-styling" id="next-data-btn" onclick="incrementData()">></button>
                </form>
                <table class="database-table">
                    <tbody id="sensor-data">
                        <tr class="database-table-row"><th>Date</th><th>Time</th><th>value</th></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="overlay-shadow">
            <a href="javascript:toggleOverlay()"><span id="overlay-span"></span></a>
            <div id="overlay-div">
                <a href="javascript:toggleOverlay()"><img id="overlay-close" src="images/close.png"></a>
                <div id="overlay-content">
                    <div style="text-align: center;">
                        <a href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    let sensorID = urlParams.get('sensorID')

    if (sensorID != 'all') {
        document.title = 'SH Monitoring System | Sensor #'+sensorID
        document.getElementById('comment-title').innerHTML += ` <a href="javascript:toggleOverlay('comments-form', '<%= user.sub %>', 'Add note to sensor #${sensorID}:', '${sensorID}', null, null, 'comment-table')"><img class="add-note-icon" src="images/edit_icon.png"></a>`

        reloadComments(sensorID, null, 'comment-table')

        if (urlParams.has('anomalyID')) {
            const anomalyID = urlParams.get('anomalyID')

            axios.get(`/api/anomalies/${anomalyID}`)
            .then(function (response) {
                anomalyData = response.data
                detectedAt = formatDateString(matlabDatenumToDate(anomalyData.sensor_time))
                updatedAt = formatDateString(anomalyData.updated_at)
                if (anomalyData.confidence > 3) {trafficLight = 'red'}
                else if (anomalyData.confidence > 2) {trafficLight = 'orange'}
                else {trafficLight = 'green'}

                anomalyInfoDiv = document.getElementById("anomaly-info-div")
                anomalyInfoDiv.style.display = "block"

                document.getElementById("anomaly-info-text").innerHTML = ""
                if (sensorID != 'all') {
                    document.getElementById("anomaly-info-text").innerHTML += `An anomaly was detected on this sensor using the timeseries model at ${detectedAt[0]}, ${detectedAt[1]} with a confidence of <i style="color: ${trafficLight};">${(anomalyData.confidence * 100).toFixed(1)}%</i> and ${getSensitivityString(anomalyData.sensitivity)} sensitivity.`
                } else {
                    document.getElementById("anomaly-info-text").innerHTML += `An anomaly was detected on this sensor using the autoencoder model at ${detectedAt[0]}, ${detectedAt[1]}, with ${getSensitivityString(anomalyData.sensitivity)} sensitivity.`
                }
                
                statusString = getStatusString(anomalyData.status)
                if (anomalyData.status != 1) {
                    axios.get(`/api/users/${anomalyData.user_id}`)
                    .then(function (response) {
                        userInfo = response.data
                        console.log(userInfo)
                        document.getElementById("anomaly-info-text").innerHTML += ` The status of this anomaly has been marked
                                    as '<i>${statusString}</i>' by <i>${userInfo.name}</i>.`

                        document.getElementById("anomaly-info-text").innerHTML += anomalyText+ `<h1 class="dashboard-title" id="anomaly-comments-title">Notes <a href="javascript:toggleOverlay('comments-form', '<%= user.sub %>', 'Add note to anomaly #${anomalyID}:', '${sensorID}', '${anomalyID}', null, 'anomaly-comment-table')"><img class="add-note-icon" src="images/edit_icon.png"></a></h1>`
                    })
                } else {
                    document.getElementById("anomaly-info-text").innerHTML += ` This anomaly has not yet been investigated. Once the anomaly is under investigation, change the status using the edit icon above.`
                    document.getElementById("anomaly-info-text").innerHTML += `<h1 class="dashboard-title" id="anomaly-comments-title">Notes <a href="javascript:toggleOverlay('comments-form', '<%= user.sub %>', 'Add note to anomaly #${anomalyID}:', '${sensorID}', '${anomalyID}', null, 'anomaly-comment-table')"><img class="add-note-icon" src="images/edit_icon.png"></a></h1>`
                }

                document.getElementById("anomaly-title").innerHTML = `Anomaly #${anomalyID} (${getStatusString(response.data.status)}) <a href="javascript:toggleOverlay('anomaly-form', '<%= user.sub %>', '', '', '${anomalyID}', '${statusString}')"><img class="add-note-icon" src="images/edit_icon.png"></a>`

                reloadComments(sensorID, anomalyID, "anomaly-comment-table")
                
            }).catch(function (error) {
                console.log(error)
                console.log(`Anomaly #${anomalyID} could not be found!`)

            });
        }
        axios.get(`/api/sensors/${sensorID}`)
        .then(function (response) {
            let sensorDetails = response.data

            axios.get(`/api/data?sensor=${sensorID}`)
            .then(function (response) {

                let sensorData = response.data
                luArr = formatDateString(matlabDatenumToDate(sensorData.splice(-1)[0].timestamp))
                lastUpdated = luArr[0] + ', ' + luArr[1]
                
                document.getElementById('sensor-title').innerHTML = `Inspecting: ${sensorDetails.type} #${sensorID}`
                sensorUnit = sensorDetails.unit
                document.getElementById("sensor-info").innerHTML = `
                Sensor ID: <i>#${sensorDetails.id}</i><br>
                Sensor Type: <i>${sensorDetails.type}</i><br>
                Unit: <i>${formatUnitString(sensorDetails.unit)}</i><br>
                Location: <i>${sensorDetails.location}</i><br><br>
                Last Updated: <i>${lastUpdated}</i>
                `
                
                seriesData = createSeriesFromData(sensorData, sensorDetails.id)
                if (seriesData.allVals.length > 0) {
                    generateLineGraph('week-chart', '300px', 'Data - Previous Week', [seriesData.weekVals, seriesData.weekMaxVals, seriesData.weekMinVals], ['Values', 'Maximum Value', 'Minimum Value'], seriesData.weekLabels, sensorUnit, ['#1f4587', '#7e7e7e', '#7e7e7e'], true)
                    generateLineGraph('day-chart', '300px', 'Data - Previous 24 hours', [seriesData.previousDayVals], ['Values'], seriesData.previousDayLabels, sensorUnit, ['#1f4587', '#1f4587'], false)
                } else {
                    document.getElementById('charts-parent-div').remove()
                }

                axios.get(`api/anomalies`)
                .then(function (response) {

                    anomaliesData = response.data
                    mostRecent = "No anomalies have been detected in the previous week."

                    if (urlParams.has('anomalyID')) {
                        for (let i = 0; i < anomaliesData.length; i++) {
                            if (anomaliesData[i].id == urlParams.get('anomalyID')) {
                                mainAnomalyTime = matlabDatenumToDate(anomaliesData[i].sensor_time)
                            }
                        }
                        reportStartTime = new Date(mainAnomalyTime)
                        reportEndTime = new Date(mainAnomalyTime)
                        reportStartTime.setHours(reportStartTime.getHours() - 2)
                        reportEndTime.setHours(reportEndTime.getHours() + 2)
                    } else {
                        today = new Date()
                        reportStartTime = today
                        reportEndTime = new Date(today.setDate(today.getDate() - 7));
                    }

                    anomalyTimes = []
                    anomalySensors = []
                    anomalyIDs = []

                    let colourScale = chroma.scale(['#00FF00', '#FFFF00', '#FF0000']);
                    colours = []

                    allMostRecent = new Date(Date.UTC(1970, 0, 1, 0, 0, 0))
                    numSensorAnomalies = 0
                    for (let i = 0; i < anomaliesData.length; i++) {
                        anomalyTime = new Date(matlabDatenumToDate(anomaliesData[i].sensor_time))
                        if (anomaliesData[i].sensor_id == sensorID) {
                            numSensorAnomalies += 1
                            if (anomalyTime > allMostRecent) {allMostRecent = anomalyTime}
                            if (anomalyTime > reportStartTime && anomalyTime < reportEndTime) {
                                anomArr = formatDateString(matlabDatenumToDate(anomaliesData[i].sensor_time))
                                mostRecent = anomArr[0] + ', ' + anomArr[1]
                                anomalyTimes.push(new Date(matlabDatenumToDate(anomaliesData[i].sensor_time)))
                                anomalySensors.push(anomaliesData[i].sensor_id)
                                anomalyIDs.push(anomaliesData[i].id)
                                if (urlParams.has('anomalyID') && anomaliesData[i].id == urlParams.get('anomalyID')) {
                                    colours.push('#1f4587')
                                } else {
                                    colour = colourScale(anomaliesData[i].confidence).hex()
                                    colours.push(colour)
                                }
                            } 
                        }
                    }
                    allMostRecentArry = formatDateString(allMostRecent.toISOString())
                    allMostRecent = allMostRecentArry[0] + ', ' + allMostRecentArry[1]
                    document.getElementById('sensor-info').innerHTML += `<br>Last Anomaly: <i>${allMostRecent}</i><br>Total Anomalies Detected: <i>${numSensorAnomalies}</i>`
                    if (urlParams.has('anomalyID')) {
                        useDiv = 'anomaly-timeline-div-small'
                        document.getElementById('timeline-title').style.display = "block"
                        document.getElementById('anomaly-timeline-parent').style.display = "none"
                    } else {
                        useDiv = 'anomaly-timeline-div-main'
                    }

                    if (anomalyTimes.length > 0) {
                        createAnomalyTimeline(useDiv, anomalyTimes, anomalySensors, anomalyIDs, [reportStartTime, reportEndTime], colours)
                    } else {
                        document.getElementById(useDiv).innerHTML = mostRecent
                        document.getElementById(useDiv).style.border = "none"
                        document.getElementById(useDiv).style.textAlign = "center"
                        document.getElementById(useDiv).style.height = "auto"
                    }
                }).catch(function (error) {
                    document.getElementById('anomaly-timeline-div-main').innerHTML = "No anomalies have been detected in the previous week."
                    if (!urlParam.has('anomalyID')) {
                        document.getElementById('anomaly-timeline-div-main').style.border = "none"
                        document.getElementById('anomaly-timeline-div-main').style.textAlign = "center"
                        document.getElementById('anomaly-timeline-div-main').style.height = "auto"
                    }
                });
            })

            axios.get(`/api/sensors`)
            .then(function (response) {
                connectedSensors = []
                connectedSensorTypes = []
                let allSensors = response.data

                for (let i = 0; i < allSensors.length; i++) {
                    if (allSensors[i].id != sensorID && allSensors[i].location == sensorDetails.location) {
                        connectedSensors.push(allSensors[i].id)
                        connectedSensorTypes.push(allSensors[i].subtype)
                    }
                }
                document.getElementById("location-graph-title").innerHTML += ' - ('+sensorDetails.location+')'
                mapConnectedSensors('connected-graph', sensorID, connectedSensors, connectedSensorTypes)
            }).catch(function (error) {
                console.log('Could not find connected sensors.')
            });
        })

        currentDataOffset = 0
        numRows = 50
        
        updateSensorData(sensorID, numRows, currentDataOffset*numRows)
        
        function incrementData() {
            currentDataOffset += 1
            updateSensorData(sensorID, numRows, currentDataOffset*numRows)
            document.getElementById('previous-data-btn').disabled = false
        }
        function decrementData() {
            if (currentDataOffset > 0) {
                currentDataOffset -= 1
                updateSensorData(sensorID, numRows, currentDataOffset*numRows)
                document.getElementById('next-data-btn').disabled = false
                if (currentDataOffset == 0) {
                    document.getElementById('previous-data-btn').disabled = true
                }
            }
        }
        function reloadData() {
            currentDataOffset = 0
            updateSensorData(sensorID, numRows, currentDataOffset*numRows)
        }
    } else {
        document.getElementById('sensor-database-div').remove()
        document.getElementById('infos').remove()
        document.getElementById('sensor-comments-div').remove()
        document.getElementById('charts-parent-div').remove()
        document.getElementById('anomaly-timeline-parent').remove()
        const anomalyID = urlParams.get('anomalyID')

        document.title = 'SH Monitoring System | Anomaly #'+anomalyID
        document.getElementById('sensor-title').innerHTML = `Inspecting: Anomaly #${anomalyID}`

            axios.get(`/api/anomalies/${anomalyID}`)
            .then(function (response) {
                anomalyData = response.data
                detectedAt = formatDateString(matlabDatenumToDate(anomalyData.sensor_time))
                updatedAt = formatDateString(anomalyData.updated_at)
                if (anomalyData.confidence > 3) {trafficLight = 'red'}
                else if (anomalyData.confidence > 2) {trafficLight = 'orange'}
                else {trafficLight = 'green'}

                anomalyInfoDiv = document.getElementById("anomaly-info-div")
                anomalyInfoDiv.style.display = "block"

                document.getElementById("anomaly-info-text").innerHTML = ""
                document.getElementById("anomaly-info-text").innerHTML += `An anomaly was detected on all sensors using the autoencoder model at ${detectedAt[0]}, ${detectedAt[1]}, with ${getSensitivityString(anomalyData.sensitivity)} sensitivity.`
                
                statusString = getStatusString(anomalyData.status)
                if (anomalyData.status != 1) {
                    axios.get(`/api/users/${anomalyData.user_id}`)
                    .then(function (response) {
                        userInfo = response.data
                        console.log(userInfo)
                        document.getElementById("anomaly-info-text").innerHTML += ` The status of this anomaly has been marked
                                    as '<i>${statusString}</i>' by <i>${userInfo.name}</i>.`

                        document.getElementById("anomaly-info-text").innerHTML += anomalyText+ `<h1 class="dashboard-title" id="anomaly-comments-title">Notes <a href="javascript:toggleOverlay('comments-form', '<%= user.sub %>', 'Add note to anomaly #${anomalyID}:', '${sensorID}', '${anomalyID}', null, 'anomaly-comment-table')"><img class="add-note-icon" src="images/edit_icon.png"></a></h1>`
                    })
                } else {
                    document.getElementById("anomaly-info-text").innerHTML += ` This anomaly has not yet been investigated. Once the anomaly is under investigation, change the status using the edit icon above.`
                    document.getElementById("anomaly-info-text").innerHTML += `<h1 class="dashboard-title" id="anomaly-comments-title">Notes <a href="javascript:toggleOverlay('comments-form', '<%= user.sub %>', 'Add note to anomaly #${anomalyID}:', 'RMS_LS2c', '${anomalyID}', null, 'anomaly-comment-table')"><img class="add-note-icon" src="images/edit_icon.png"></a></h1>`
                }

                document.getElementById("anomaly-title").innerHTML = `Status: ${getStatusString(response.data.status)} <a href="javascript:toggleOverlay('anomaly-form', '<%= user.sub %>', '', '', '${anomalyID}', '${statusString}', 'anomaly-comments-table')"><img class="add-note-icon" src="images/edit_icon.png"></a>`

                reloadComments(null, anomalyID, "anomaly-comment-table")
                
            }).catch(function (error) {
                console.log(error)
                console.log(`Anomaly #${anomalyID} could not be found!`)
        });
        axios.get(`api/anomalies`)
        .then(function (response) {
            anomaliesData = response.data
            mostRecent = "No anomalies have been detected in the previous week."

            for (let i = 0; i < anomaliesData.length; i++) {
                if (anomaliesData[i].id == anomalyID) {
                    mainAnomalyTime = matlabDatenumToDate(anomaliesData[i].sensor_time)
                }
            }
            reportStartTime = new Date(mainAnomalyTime)
            reportEndTime = new Date(mainAnomalyTime)
            reportStartTime.setHours(reportStartTime.getHours() - 2)
            reportEndTime.setHours(reportEndTime.getHours() + 2)

            anomalyTimes = []
            anomalySensors = []
            anomalyIDs = []

            let colourScale = chroma.scale(['#00FF00', '#FFFF00', '#FF0000']);
            colours = []

            for (let i = 0; i < anomaliesData.length; i++) {
                anomalyTime = new Date(matlabDatenumToDate(anomaliesData[i].sensor_time))
                
                if (anomalyTime > reportStartTime && anomalyTime < reportEndTime) {
                    anomArr = formatDateString(matlabDatenumToDate(anomaliesData[i].sensor_time))
                    mostRecent = anomArr[0] + ', ' + anomArr[1]
                    anomalyTimes.push(new Date(matlabDatenumToDate(anomaliesData[i].sensor_time)))
                    anomalySensors.push('all')
                    anomalyIDs.push(anomaliesData[i].id)
                    if (urlParams.has('anomalyID') && anomaliesData[i].id == urlParams.get('anomalyID')) {
                        colours.push('#1f4587')
                    } else {
                        colour = colourScale(anomaliesData[i].confidence).hex()
                        colours.push(colour)
                    }
                } 
                
            }

            document.getElementById('timeline-title').style.display = "block"

            if (anomalyTimes.length > 0) {
                createAnomalyTimeline('anomaly-timeline-div-small', anomalyTimes, anomalySensors, anomalyIDs, [reportStartTime, reportEndTime], colours)
            } else {
                document.getElementById(useDiv).innerHTML = mostRecent
                document.getElementById(useDiv).style.border = "none"
                document.getElementById(useDiv).style.textAlign = "center"
                document.getElementById(useDiv).style.height = "auto"
            }
        }).catch(function (error) {
            console.log(error)
            document.getElementById('anomaly-timeline-div-main').innerHTML = "No anomalies have been detected in the previous week."
            if (!urlParam.has('anomalyID')) {
                document.getElementById('anomaly-timeline-div-main').style.border = "none"
                document.getElementById('anomaly-timeline-div-main').style.textAlign = "center"
                document.getElementById('anomaly-timeline-div-main').style.height = "auto"
            }
        });
    }
</script>