<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SH Monitoring System | User Settings</title>
        <link href="css/stylesheet.css" rel='stylesheet' type='text/css'/>
        <script src="js/js.js"></script>
        <link rel="icon" type="image" href="/images/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div class="navbar-div">
            <img src="images/uoe.png" class="exeter-logo">
            <a href="/settings" class="profile-link"><p class="profile-name" id="profile-name"><%= user.name %></p><img src=<%= user.picture %> class="profile-pic"></a>
        </div>
        <div class="sidebar-div">
            <div class="sidebar-icon-div">
                <a href="/dash"><span class="sidebar-icon-span">
                    <img src="images/dashboard_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
            <div class="sidebar-icon-div">
                <a href="/anomalies"><span class="sidebar-icon-span">
                    <img src="images/anomalies_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
            <div class="sidebar-icon-div">
                <a href="/reports"><span class="sidebar-icon-span">
                    <img src="images/reports_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
            <div class="sidebar-icon-div">
                <a href="/database"><span class="sidebar-icon-span">
                    <img src="images/database_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
            <div class="sidebar-icon-div">
                <a href="/code"><span class="sidebar-icon-span">
                    <img src="images/code_icon.png" class="sidebar-icon-img">
                </span></a>
            </div>
            <div class="sidebar-icon-div sidebar-icon-active" id="logout-div">
                <a href="/logout"><span class="sidebar-icon-span">
                    <img src="images/log_out.png" class="sidebar-icon-img">
                </span></a>
            </div>
        </div>
        <div class="main-content-div" style="height: calc(100% - 120px); top: 0;">
            <% if (user['http://localhost:3030/roles'] == 'Admin') { %>
                <a href="/admin/users" id="go-to-users">Go to Add Users Page</a>
            <% } %>
            <div class="dashboard-tile-parent main-dashboard-parent">
                <div class="dashboard-tile-div" style="height: auto;">
                    <form>
                        <table>
                            <tbody>
                                <tr><td>Name:</td><td><i><input type="text" disabled value="<%= user.name %>"></i></td></tr>
                                <tr><td>Email:</td><td><i><input type="email" disabled value="<%= user.email %>"></i></td></tr>
                                <tr><td>Role:</td><td><i><input type="text" disabled value="<%= user['http://localhost:3030/roles'] %>"></i></td></tr>
                            </tbody>

                        </table>
                        <hr>
                        <p id="sensitivities-info" style="margin: 0;"></p>
                        
                        <hr><p style="text-align: center; margin-top: 30px;">
                            <input class="button-styling" type="button" onclick="location.reload()" value="Revert">
                            <input class="button-styling" type="submit" value="Apply">
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
<script>
    modelSensitivity = 3
    
    sensivityOptions = ``
    for (let j = 0; j < sensitivities.length; j++) {
        if (j + 1 == modelSensitivity) {
            selected = ' selected'
        } else { selected = "" }
        sensivityOptions += `<option value="${j}"${selected}>${sensitivities[j]}</option>`
    }

    document.getElementById('sensitivities-info').innerHTML += `Model Sensitivities: <select class="overlay-select">${sensivityOptions}</select>`

</script>